@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Fredoka', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol {
    list-style-type: none;
}

body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
